apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "soperator-dcgm-exporter.fullname" . }}-role
  labels:
    app: nvidia-dcgm-exporter
  {{- include "soperator-dcgm-exporter.labels" . | nindent 4 }}
rules:
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - use
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  verbs:
  - get
  - list
