apiVersion: v1
kind: Service
metadata:
  name: {{ include "soperator-dcgm-exporter.fullname" . }}-svc
  labels:
    app: nvidia-dcgm-exporter
  {{- include "soperator-dcgm-exporter.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
spec:
  type: {{ .Values.serviceType }}
  selector:
    app: nvidia-dcgm-exporter
    {{- include "soperator-dcgm-exporter.selectorLabels" . | nindent 4 }}
  ports:
  - name: gpu-metrics
    port: {{ .Values.metricsPort }}
    protocol: TCP
    targetPort: {{ .Values.metricsPort }}
