apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "soperator-dcgm-exporter.fullname" . }}-sa
  labels:
    app: nvidia-dcgm-exporter
  {{- include "soperator-dcgm-exporter.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
