---

python_packages:
  - python3.12=3.12.3-1
  - python3.12-venv=3.12.3-1
  - python3.12-dev=3.12.3-1
  - libpython3.12-dev=3.12.3-1
  - libpython3.12t64=3.12.3-1
  - python3.12-dbg=3.12.3-1
  - libpython3.12t64-dbg=3.12.3-1
  - python3.12-minimal=3.12.3-1
  - libpython3.12-minimal=3.12.3-1
  - libpython3.12-stdlib=3.12.3-1
  - python3-pip=24.0+dfsg-1ubuntu1
  - python3-pip-whl=24.0+dfsg-1ubuntu1
  - python3-apt=2.7.7ubuntu1
