---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-slurm-nebius-ai-v1alpha1-nodeset
  failurePolicy: Fail
  name: mnodeset-v1alpha1.kb.io
  rules:
  - apiGroups:
    - slurm.nebius.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nodesets
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate--v1-secret
  failurePolicy: Fail
  name: vsecret-v1.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - secrets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-slurm-nebius-ai-v1-slurmcluster
  failurePolicy: Fail
  name: vslurmcluster-v1.kb.io
  rules:
  - apiGroups:
    - slurm.nebius.ai
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - slurmclusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-slurm-nebius-ai-v1alpha1-nodeset
  failurePolicy: Fail
  name: vnodeset-v1alpha1.kb.io
  rules:
  - apiGroups:
    - slurm.nebius.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nodesets
  sideEffects: None
