apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
  {{- include "soperatorchecks.labels" . | nindent 4 }}
  name: {{ include "soperatorchecks.fullname" . }}-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "soperatorchecks.fullname" . }}-checks-role
subjects:
- kind: ServiceAccount
  name: {{ include "soperatorchecks.fullname" . }}-checks
  namespace: '{{ .Release.Namespace }}'
