{{- if .Values.volume.accounting.enabled }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "slurm-cluster-storage.volume.accounting.pv" . }}
spec:
  storageClassName: {{ include "slurm-cluster-storage.volume.accounting.storageClass" . }}
  volumeMode: Filesystem
  mountOptions:
    - rw
    - relatime
  capacity:
    storage: {{ include "slurm-cluster-storage.volume.accounting.size" . }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /mnt/accounting
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
{{ .Values.storage.accounting.matchExpressions | toYaml | indent 12 }}
{{- end }}
