---

- name: Download Nebius public GPG key
  ansible.builtin.get_url:
    url: https://dr.nebius.cloud/public.gpg
    dest: /usr/share/keyrings/nebius.gpg.pub
    mode: "0644"
    checksum: "sha256:e4ec7915ef64976047b3a65db93cbfa94072a8179e77e29ea78f379d30bf4030"
  tags:
    - nebius-repo
    - packages
    - common-packages

- name: Add Nebius APT repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/nebius.list
    content: |
      deb [signed-by=/usr/share/keyrings/nebius.gpg.pub] https://dr.nebius.cloud/ {{ ansible_distribution_release }} main
      deb [signed-by=/usr/share/keyrings/nebius.gpg.pub] https://dr.nebius.cloud/ stable main
    owner: root
    group: root
    mode: "0644"
  tags:
    - nebius
    - packages
    - common-packages

- name: Ensure required packages are installed
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: true
  tags:
    - packages
    - common-packages
