---

- name: Ensure required packages are installed
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: true
  tags:
    - packages
    - common-packages

- name: Ensure packages are removed
  ansible.builtin.apt:
    name: "{{ common_absent_packages }}"
    state: absent
  tags:
    - packages
    - common-packages
    - absent-packages
