apiVersion: slurm.nebius.ai/v1alpha1
kind: NodeConfigurator
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "nodeconfigurator.name" . }}
  {{- with include "nodeconfigurator.labels" . }}
  labels:
    {{- . | nindent 4 -}}
  {{- end }}
spec:
  hostNetwork: {{ .Values.hostNetwork }}
  customContainer:
    enabled: {{ .Values.customContainer.enabled }}
    {{- if gt (len .Values.customContainer.env) 0 }}
    env:
      {{- toYaml .Values.customContainer.env | nindent 6 }}
    {{- end }}
    image:
      repository: {{ .Values.customContainer.image.repository | quote }}
      tag: {{ .Values.customContainer.image.tag | quote }}
      pullPolicy: {{ .Values.customContainer.image.pullPolicy | quote }}
    {{- if .Values.customContainer.nodeSelector }}
    nodeSelector:
      {{- toYaml .Values.customContainer.nodeSelector | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.resources }}
    resources:
      {{- toYaml .Values.customContainer.resources | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.livenessProbe }}
    livenessProbe:
      {{- toYaml .Values.customContainer.livenessProbe | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.readinessProbe }}
    readinessProbe:
      {{- toYaml .Values.customContainer.readinessProbe | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.tolerations }}
    tolerations:
      {{- toYaml .Values.customContainer.tolerations | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.affinity }}
    affinity:
      {{- toYaml .Values.customContainer.affinity | nindent 6 }}
    {{- end }}
    {{- if .Values.customContainer.priorityClassName }}
    priorityClassName: {{ .Values.customContainer.priorityClassName | quote }}
    {{- end }}
    {{- if .Values.customContainer.serviceAccountName }}
    serviceAccountName: {{ .Values.customContainer.serviceAccountName | quote }}
    {{- end }}
  rebooter:
    enabled: {{ .Values.rebooter.enabled }}
    evictionMethod: {{ .Values.rebooter.evictionMethod | quote }}
    {{- if gt (len .Values.rebooter.env) 0 }}
    env:
      {{- toYaml .Values.rebooter.env | nindent 6 }}
    {{- end }}
    image:
      repository: {{ .Values.rebooter.image.repository | quote }}
      tag: {{ .Values.rebooter.image.tag | quote }}
      pullPolicy: {{ .Values.rebooter.image.pullPolicy | quote }}
    {{- if .Values.rebooter.nodeSelector }}
    nodeSelector:
      {{- toYaml .Values.rebooter.nodeSelector | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.resources }}
    resources:
      {{- toYaml .Values.rebooter.resources | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.livenessProbe }}
    livenessProbe:
      {{- toYaml .Values.rebooter.livenessProbe | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.readinessProbe }}
    readinessProbe:
      {{- toYaml .Values.rebooter.readinessProbe | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.tolerations }}
    tolerations:
      {{- toYaml .Values.rebooter.tolerations | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.affinity }}
    affinity:
      {{- toYaml .Values.rebooter.affinity | nindent 6 }}
    {{- end }}
    {{- if .Values.rebooter.priorityClassName }}
    priorityClassName: {{ .Values.rebooter.priorityClassName | quote }}
    {{- end }}
    {{- if .Values.rebooter.generateRBAC }}
    serviceAccountName: {{ include "nodeconfigurator.name" . }}-sa
    {{- else if .Values.rebooter.serviceAccountName }}
    serviceAccountName: {{ .Values.rebooter.serviceAccountName | quote }}
    {{- end }}
    {{- if .Values.rebooter.logLevel }}
    logLevel: {{ .Values.rebooter.logLevel | quote }}
    {{- end }}
    {{- if .Values.rebooter.logFormat }}
    logFormat: {{ .Values.rebooter.logFormat | quote }}
    {{- end }}
  {{- if gt (len .Values.initContainers) 0 }}
  initContainers:
    {{- toYaml .Values.initContainers | nindent 6 }}
  {{- end }}
