# # if CRD OpenTelemetryCollector is installed in the cluster
opentelemetryOperator:
  enabled: false
controllerManager:
  kubeRbacProxy:
    args:
      - --secure-listen-address=0.0.0.0:8443
      - --upstream=http://127.0.0.1:8080/
      - --logtostderr=true
      - --v=0
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: cr.nemax.nebius.cloud/mirror/io/gcr/kubebuilder/kube-rbac-proxy
      tag: v0.15.0
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
  manager:
    args:
      - --health-probe-bind-address=:8081
      - --metrics-bind-address=127.0.0.1:8080
      - --leader-elect
      - --log-format=plain
      - --log-level=debug
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    env:
      slurmOperatorWatchNamespaces: '*'
    image:
      repository: cr.nemax.nebius.cloud/crnlu9nio77sg3p8n5bi/slurm-operator
      tag: 1.6.4
    imagePullPolicy: Always
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
  type: ClusterIP
