helmRepository:
  interval: 15m
  soperator:
    url: oci://cr.eu-north1.nebius.cloud/soperator
    type: oci
  kruise:
    url: https://openkruise.github.io/charts/
    type: default
  certManager:
    url: https://charts.jetstack.io
    type: default
  bedag:
    url: https://bedag.github.io/helm-charts
    type: default
  backup:
    url: https://k8up-io.github.io/k8up
    type: default
  mariadbOperator:
    url: https://helm.mariadb.com/mariadb-operator
    type: default
  opentelemetry:
    url: https://open-telemetry.github.io/opentelemetry-helm-charts
    type: default
  prometheusOperator:
    url: https://prometheus-community.github.io/helm-charts
    type: default
  securityProfilesOperator:
    url: oci://cr.eu-north1.nebius.cloud/e00xdc03sb7gpqfd0a
    type: oci
  victoriaMetrics:
    url: https://victoriametrics.github.io/helm-charts/
    type: default
  csiDriverNfs:
    url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    type: default
  nfsServer:
    url: oci://cr.eu-north1.nebius.cloud/soperator
    type: oci
ns:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 2.0.0
  driftDetection:
    mode: warn
certManager:
  enabled: true
  interval: 5m
  timeout: 5m
  version: v1.19.*
  namespace: cert-manager-system
  releaseName: cert-manager
  values: null
  overrideValues: null
  driftDetection:
    mode: warn
backup:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 4.8.*
  namespace: k8up-system
  releaseName: k8up
  values:
    cleanup:
      pullPolicy: IfNotPresent
      registry: docker.io
      repository: alpine/k8s
      tag: 1.34.0
  overrideValues: null
  config:
    driftDetection:
      mode: warn
    enabled: true
    interval: 5m
    timeout: 5m
    version: 1.23.0
    releaseName: soperator-backups
    values:
      secret:
        name: jail-backup
      bucket:
        endpoint: ""
        name: ""
mariadbOperator:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 25.10.2
  namespace: mariadb-operator-system
  releaseName: mariadb-operator
  values: null
  overrideValues: null
  crds:
    driftDetection:
      mode: warn
  driftDetection:
    mode: warn
observability:
  enabled: true
  clusterName: soperator
  publicEndpointEnabled: true
  logsProjectId: default-project-id
  metricsProjectId: default-project-id
  region: eu-north1
  opentelemetry:
    enabled: true
    namespace: logs-system
    logs:
      version: 0.117.*
      interval: 15m
      timeout: 15m
      values:
        jailLogs:
          enabled: true
          pollInterval: 30s
          resources:
            requests:
              memory: 200Mi
              cpu: 100m
            limits:
              memory: 200Mi
        nodeLogs:
          enabled: true
          resources:
            requests:
              memory: 200Mi
              cpu: 100m
            limits:
              memory: 200Mi
        resources:
          requests:
            memory: 200Mi
            cpu: 100m
          limits:
            memory: 200Mi
      overrideValues: null
      driftDetection:
        mode: warn
    events:
      version: 0.117.*
      interval: 5m
      timeout: 5m
      values:
        resources:
          requests:
            memory: 128Mi
            cpu: 100m
          limits:
            memory: 128Mi
      overrideValues: null
      driftDetection:
        mode: warn
  prometheusOperator:
    enabled: true
    interval: 5m
    timeout: 5m
    version: 19.1.*
    namespace: monitoring-system
    driftDetection:
      mode: warn
  vmStack:
    enabled: true
    crds:
      interval: 5m
      timeout: 5m
      version: 0.0.3
      driftDetection:
        mode: warn
    interval: 5m
    timeout: 5m
    version: 0.39.*
    namespace: monitoring-system
    releaseName: metrics
    values:
      dashboardNamespaces:
        - soperator
        - soperator-system
        - gpu-operator
        - monitoring-system
        - logs-system
      grafanaIni:
        auth:
          disable_login_form: true
        auth.basic:
          enabled: false
        auth.anonymous:
          enabled: true
          org_name: Main Org.
          org_role: Admin
      vmagent:
        spec:
          extraArgs:
            promscrape.maxScrapeSize: "33554432"
            promscrape.dropOriginalLabels: "true"
            promscrape.streamParse: "true"
          externalLabels: {}
          remoteWriteSettings: {}
          remoteWrite:
            - url: http://vmsingle-metrics-victoria-metrics-k8s-stack.monitoring-system.svc.cluster.local.:8429/api/v1/write
          resources:
            requests:
              memory: 10Gi
              cpu: 5000m
            limits:
              memory: 10Gi
          extraEnvs: []
          volumeMounts: []
          volumes: []
      vmsingle:
        spec:
          extraArgs:
            dedup.minScrapeInterval: 30s
            maxLabelsPerTimeseries: "40"
            search.maxQueryLen: "18765"
            search.maxUniqueTimeseries: "500000"
          retentionPeriod: 30d
          storage:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 30Gi
          resources:
            requests:
              memory: 2Gi
              cpu: 1000m
            limits:
              memory: 2Gi
      prometheusNodeExporter:
        enabled: true
        extraArgs: null
    overrideValues: null
    driftDetection:
      mode: warn
  vmLogs:
    enabled: true
    interval: 5m
    timeout: 5m
    version: 0.9.*
    namespace: logs-system
    releaseName: vm-logs
    values:
      persistentVolume:
        enabled: true
        size: 30Gi
        accessMode: ReadWriteOnce
      resources:
        requests:
          memory: 2Gi
          cpu: 1000m
        limits:
          memory: 2Gi
    overrideValues: null
    driftDetection:
      mode: warn
  dcgmExporter:
    enabled: true
    interval: 5m
    timeout: 5m
    version: 1.23.1
    namespace: soperator
    releaseName: soperator-dcgm-exporter
    values:
      hpcJobMapDir: /var/run/nebius/slurm
      validateToolkit: true
      resources:
        limits:
          memory: 128Mi
        requests:
          memory: 128Mi
          cpu: 100m
    driftDetection:
      mode: warn
securityProfilesOperator:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 0.8.4-soperator
  releaseName: security-profiles-operator
  namespace: security-profiles-operator-system
  values:
    daemon:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 128Mi
    resources:
      limits:
        cpu: 500m
        memory: 3Gi
      requests:
        cpu: 500m
        memory: 3Gi
  overrideValues: null
  driftDetection:
    mode: warn
slurmCluster:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: soperator
  releaseName: soperator
  values: null
  overrideValues: null
  slurmClusterStorage:
    enabled: true
    releaseName: slurm-cluster-storage
    interval: 5m
    timeout: 5m
    values: null
    overrideValues: null
    driftDetection:
      mode: warn
  driftDetection:
    mode: warn
nodesets:
  enabled: false
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: soperator
  releaseName: soperator-nodesets
  values: null
  overrideValues: null
soperatorActiveChecks:
  enabled: true
  interval: 5m
  timeout: 120m
  version: 1.23.1
  releaseName: soperator-activechecks
  namespace: soperator
  overrideValues: null
  driftDetection:
    mode: warn
soperator:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: "soperator-system"
  releaseName: soperator-controller
  featureGates: ""
  values:
    serviceMonitor:
      enabled: true
    manager:
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 500m
          memory: 1Gi
  overrideValues: null
  kruise:
    enabled: true
    interval: 5m
    timeout: 5m
    version: 1.8.0
    releaseName: soperator-kruise
    overrideValues:
      crds:
        managed: true
      manager:
        replicas: 2
        image:
          repository: cr.eu-north1.nebius.cloud/soperator/kruise-manager
        resources:
          limits:
            cpu: 1000m
            memory: 2Gi
          requests:
            cpu: 1000m
            memory: 2Gi
      helmHooks:
        image:
          repository: cr.eu-north1.nebius.cloud/soperator/kruise-helm-hook
      featureGates: "ImagePullJobGate=true,RecreatePodWhenChangeVCTInCloneSetGate=true,StatefulSetAutoResizePVCGate=true,StatefulSetAutoDeletePVC=true,PreDownloadImageForInPlaceUpdate=true"
    driftDetection:
      mode: warn
  soperatorChecks:
    enabled: true
    interval: 5m
    timeout: 5m
    releaseName: soperator-checks
    values: null
    overrideValues: null
    driftDetection:
      mode: warn
  nodeConfigurator:
    enabled: true
    interval: 5m
    timeout: 5m
    releaseName: soperator-node-configurator
    values:
      rebooter:
        resources:
          requests:
            memory: 200Mi
            cpu: 100m
          limits:
            memory: 200Mi
    overrideValues: null
    driftDetection:
      mode: warn
  monitoringDashboards:
    enabled: true
    interval: 5m
    timeout: 5m
    releaseName: soperator-monitoring-dashboards
    namespace: monitoring-system
    overrideValues: null
    driftDetection:
      mode: warn
  driftDetection:
    mode: warn
notifier:
  enabled: false
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: monitoring-system
  releaseName: soperator-notifier
  values:
    slack:
      webhookUrl: null
  overrideValues: null
  driftDetection:
    mode: warn
csiDriverNfs:
  interval: 5m
  timeout: 5m
  version: 4.11.0
  namespace: nfs-system
  releaseName: csi-driver-nfs
  overrideValues: null
  values: null
  driftDetection:
    mode: warn
nfsServer:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 1.2.0
  namespace: nfs-system
  releaseName: nfs-server
  overrideValues: null
  values: null
  driftDetection:
    mode: warn
storageClasses:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: storage-system
  releaseName: soperator-storageclasses
  values: null
  driftDetection:
    mode: warn
customConfigmaps:
  enabled: true
  interval: 5m
  timeout: 5m
  version: 1.23.1
  namespace: soperator
  releaseName: soperator-custom-configmaps
  overrideValues: null
  values: null
  driftDetection:
    mode: warn
tailscale:
  enabled: false
  interval: 5m
  timeout: 5m
  version: 2.0.0
  driftDetection:
    mode: warn
