helmRepository:
  interval: 15m
  soperator:
    url: oci://cr.eu-north1.nebius.cloud/soperator
    type: oci
  kruise:
    url: https://openkruise.github.io/charts/
    type: default
  certManager:
    url: https://charts.jetstack.io
    type: default
  bedag:
    url: https://bedag.github.io/helm-charts
    type: default
  backup:
    url: https://k8up-io.github.io/k8up
    type: default
  mariadbOperator:
    url: https://helm.mariadb.com/mariadb-operator
    type: default
  opentelemetry:
    url: https://open-telemetry.github.io/opentelemetry-helm-charts
    type: default
  prometheusOperator:
    url: https://prometheus-community.github.io/helm-charts
    type: default
  securityProfilesOperator:
    url: oci://cr.eu-north1.nebius.cloud/e00xdc03sb7gpqfd0a
    type: oci
  victoriaMetrics:
    url: https://victoriametrics.github.io/helm-charts/
    type: default
  helmReleaseTriggerOperator:
    url: oci://cr.eu-north1.nebius.cloud/soperator
    type: oci
  csiDriverNfs:
    url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    type: default
  nfsServer:
    url: oci://cr.eu-north1.nebius.cloud/soperator
    type: oci
ns:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 2.0.0
certManager:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: v1.17.*
  namespace: cert-manager-system
  releaseName: cert-manager
  values: null
  overrideValues: null
backup:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 4.8.*
  namespace: k8up-system
  releaseName: k8up
  values:
    cleanup:
      pullPolicy: IfNotPresent
      registry: docker.io
      repository: alpine/k8s
      tag: 1.34.0
  overrideValues: null
  schedule:
    interval: 5m
    timeout: 5m
    version: 4.8.*
    namespace: k8up-system
    releaseName: k8up-schedule
    values:
      name: soperator-jail
      spec: {}
mariadbOperator:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 0.38.*
  namespace: mariadb-operator-system
  releaseName: mariadb-operator
  values: null
  overrideValues: null
observability:
  enabled: true
  clusterName: soperator
  publicEndpointEnabled: true
  logsProjectId: default-project-id
  metricsProjectId: default-project-id
  region: eu-north1
  opentelemetry:
    enabled: true
    driftDetection:
      mode: warn
    namespace: logs-system
    logs:
      version: 0.117.*
      interval: 15m
      timeout: 15m
      values:
        jailLogs:
          enabled: true
          pollInterval: 30s
          resources: {}
        nodeLogs:
          enabled: true
        resources: {}
      overrideValues: null
    events:
      version: 0.117.*
      interval: 5m
      timeout: 5m
      values:
        resources: {}
      overrideValues: null
  prometheusOperator:
    enabled: true
    driftDetection:
      mode: warn
    interval: 5m
    timeout: 5m
    version: 19.1.*
    namespace: monitoring-system
  vmStack:
    enabled: true
    driftDetection:
      mode: warn
    crds:
      interval: 5m
      timeout: 5m
      version: 0.0.3
    interval: 5m
    timeout: 5m
    version: 0.39.*
    namespace: monitoring-system
    releaseName: metrics
    values:
      dashboardNamespaces:
        - soperator
        - soperator-system
        - gpu-operator
        - monitoring-system
        - logs-system
      grafanaIni:
        auth:
          disable_login_form: true
        auth.basic:
          enabled: false
        auth.anonymous:
          enabled: true
          org_name: Main Org.
          org_role: Admin
      vmagent:
        spec:
          extraArgs:
            promscrape.maxScrapeSize: "33554432"
            promscrape.dropOriginalLabels: "true"
            promscrape.streamParse: "true"
          externalLabels: {}
          remoteWriteSettings: {}
          remoteWrite:
            - url: http://vmsingle-metrics-victoria-metrics-k8s-stack.monitoring-system.svc.cluster.local.:8429/api/v1/write
          resources: {}
          extraEnvs: []
          volumeMounts: []
          volumes: []
      vmsingle:
        spec:
          extraArgs:
            dedup.minScrapeInterval: 30s
            maxLabelsPerTimeseries: "40"
            search.maxQueryLen: "18765"
            search.maxUniqueTimeseries: "500000"
          retentionPeriod: 30d
          storage:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 30Gi
          resources: {}
      prometheusNodeExporter:
        enabled: true
        extraArgs: null
    overrideValues: null
  vmLogs:
    enabled: true
    driftDetection:
      mode: warn
    interval: 5m
    timeout: 5m
    version: 0.9.*
    namespace: logs-system
    releaseName: vm-logs
    values:
      persistentVolume:
        enabled: true
        size: 30Gi
        accessMode: ReadWriteOnce
      resources: {}
    overrideValues: null
  dcgmExporter:
    enabled: true
    driftDetection:
      mode: warn
    interval: 5m
    timeout: 5m
    version: 1.22.1
    namespace: soperator
    releaseName: soperator-dcgm-exporter
    values:
      hpcJobMapDir: /var/run/nebius/slurm
      validateToolkit: true
      resources: {}
securityProfilesOperator:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 0.8.4-soperator
  releaseName: security-profiles-operator
  namespace: security-profiles-operator-system
  values:
    daemon:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 128Mi
    resources:
      limits:
        cpu: 500m
        memory: 3Gi
      requests:
        cpu: 500m
        memory: 3Gi
  overrideValues: null
slurmCluster:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 1.22.1
  namespace: soperator
  releaseName: soperator
  values: null
  overrideValues: null
  slurmClusterStorage:
    enabled: true
    driftDetection:
      mode: warn
    releaseName: slurm-cluster-storage
    interval: 5m
    timeout: 5m
    values: null
    overrideValues: null
soperatorActiveChecks:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 120m
  version: 1.22.1
  releaseName: soperator-activechecks
  namespace: soperator
  overrideValues: null
soperator:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 1.22.1
  namespace: "soperator-system"
  releaseName: soperator-controller
  values:
    manager:
      resources: {}
  overrideValues: null
  kruise:
    enabled: true
    interval: 5m
    timeout: 5m
    version: 1.8.0
    releaseName: soperator-kruise
    overrideValues:
      crds:
        managed: true
      manager:
        replicas: 2
        resources:
          limits:
            cpu: 1000m
            memory: 2Gi
          requests:
            cpu: 1000m
            memory: 2Gi
      featureGates: "ImagePullJobGate=true,RecreatePodWhenChangeVCTInCloneSetGate=true,StatefulSetAutoResizePVCGate=true,StatefulSetAutoDeletePVC=true,PreDownloadImageForInPlaceUpdate=true"
  soperatorChecks:
    enabled: true
    driftDetection:
      mode: warn
    interval: 5m
    timeout: 5m
    releaseName: soperator-checks
    values: null
    overrideValues: null
  nodeConfigurator:
    enabled: true
    driftDetection:
      mode: warn
    interval: 5m
    timeout: 5m
    releaseName: soperator-node-configurator
    values:
      rebooter:
        resources: {}
    overrideValues: null
helmReleaseTriggerOperator:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 0.0.1
  namespace: flux-system
  releaseName: helmrelease-trigger
  values:
    enableHrAutodiscovery: true
    repository: "cr.eu-north1.nebius.cloud/soperator/helmrelease-trigger-operator"
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
  overrideValues: null
notifier:
  enabled: false
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 1.22.1
  namespace: monitoring-system
  releaseName: soperator-notifier
  values:
    slack:
      webhookUrl: null
  overrideValues: null
csiDriverNfs:
  interval: 5m
  driftDetection:
    mode: warn
  timeout: 5m
  version: 4.11.0
  namespace: nfs-system
  releaseName: csi-driver-nfs
  overrideValues: null
  values: null
nfsServer:
  enabled: true
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 1.21.12
  namespace: nfs-system
  releaseName: nfs-server
  overrideValues: null
  values: null
tailscale:
  enabled: false
  driftDetection:
    mode: warn
  interval: 5m
  timeout: 5m
  version: 2.0.0
