hostNetwork: true
customContainer:
  enabled: false
  env: []
  image:
    repository: "cr.eu-north1.nebius.cloud/soperator/busybox"
    tag: "latest"
    pullPolicy: IfNotPresent
  command:
    - /bin/sh
    - -c
    - sleep
    - infinity
  nodeSelector: {}
  resources: {}
  livenessProbe: {}
  readinessProbe: {}
  tolerations: []
  affinity: {}
  priorityClassName: ""
  serviceAccountName: ""
rebooter:
  enabled: true
  generateRBAC: true
  evictionMethod: "evict"
  logLevel: "info"
  logFormat: "json"
  env: []
  image:
    repository: "cr.eu-north1.nebius.cloud/soperator/rebooter"
    tag: "1.23.0"
    pullPolicy: IfNotPresent
  nodeSelector: {}
  resources: {}
  livenessProbe: {}
  readinessProbe: {}
  tolerations: []
  affinity: {}
  priorityClassName: ""
  serviceAccountName: ""
initContainers:
  - name: node-sysctl-params
    image: "cr.eu-north1.nebius.cloud/soperator/busybox"
    securityContext:
      privileged: true
      runAsUser: 0
      runAsGroup: 0
      readOnlyRootFilesystem: false
      allowPrivilegeEscalation: true
    command:
      - /bin/sh
      - -c
      - |
        sysctl -w kernel.unprivileged_userns_clone=1
        sysctl -w net.core.rmem_max=536870912
        sysctl -w net.core.wmem_max=536870912
        sysctl -w net.ipv4.tcp_rmem="4096 131072 536870912"
        sysctl -w net.ipv4.tcp_wmem="4096 16384 536870912"
serviceMonitor:
  enabled: true
  jobLabel: "rebooter"
  interval: "30s"
  scrapeTimeout: "28s"
