apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "all-reduce-perf-nccl-with-ib"
spec:
  checkType: "slurmJob"
  name: "all-reduce-perf-nccl-with-ib"
  dependsOn: [ "create-user-soperatorchecks", "wait-for-topology" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  schedule: "45 0-18/6 * * *" # 4 times a day at 00:45, 6:45, 12:45 and 18:45 UTC
  suspend: false
  runAfterCreation: true
  slurmJobSpec:
    sbatchScript: |
{{ .Files.Get "scripts/all-reduce-perf-nccl-with-ib.sh" | indent 6 }}
    eachWorkerJobs: true
    maxNumberOfJobs: 200
    jobContainer:
      image: {{ .Values.images.slurmJob | quote }}
      env:
{{ toYaml .Values.jobContainer.env | indent 8 }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
  reactions:
    addReservation:
      prefix: {{ .Values.reservationPrefix | quote }}
