apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "create-user-{{ .Values.createUser.name }}"
spec:
  checkType: "k8sJob"
  name: "create-user-{{ .Values.createUser.name }}"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: true
  runAfterCreation: true
  k8sJobSpec:
    jobContainer:
      command:
        - bash
        - -c
        - |
{{ .Files.Get "scripts/create-user.sh" | indent 10 }}
      image: {{ .Values.images.k8sJob | quote }}
      env:
        - name: USER_NAME
          value: {{ .Values.createUser.name | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
