apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "dcgmi-diag-r3"
spec:
  checkType: "slurmJob"
  name: "dcgmi-diag-r3"
  dependsOn: [ "wait-for-soperatorchecks-srun-ready", "wait-for-topology" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.dcgmiDiagR3.suspend }}
  runAfterCreation: {{ .Values.checks.dcgmiDiagR3.runAfterCreation }}
  slurmJobSpec:
    sbatchScript: |
{{ .Files.Get "scripts/dcgmi-diag-r3.sh" | indent 6 }}
    eachWorkerJobs: true
    jobContainer:
      image: {{ .Values.images.slurmJob | quote }}
      env:
{{ toYaml .Values.jobContainer.env | indent 8 }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
      appArmorProfile: unconfined
  failureReactions:
    drainSlurmNode:
      drainReasonPrefix: {{ .Values.checks.dcgmiDiagR3.drainReasonPrefix | quote }}
