apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "enroot-cleanup"
spec:
  checkType: "slurmJob"
  name: "enroot-cleanup"
  dependsOn: [ "wait-for-soperatorchecks-srun-ready" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  schedule: "10 8-20/12 * * *" # 2 times a day at 8:10 and 20:10 UTC
  suspend: {{ .Values.checks.enrootCleanup.suspend }}
  runAfterCreation: {{ .Values.checks.enrootCleanup.runAfterCreation }}
  slurmJobSpec:
    sbatchScript: |
{{ .Files.Get "scripts/enroot-cleanup.sh" | indent 6 }}
    eachWorkerJobs: true
    jobContainer:
      image: {{ .Values.images.slurmJob | quote }}
      env:
{{ toYaml .Values.jobContainer.env | indent 8 }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
      appArmorProfile: unconfined
