apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "ensure-healthy-nodes"
spec:
  checkType: "slurmJob"
  name: "ensure-healthy-nodes"
  dependsOn:
  - "all-reduce-perf-nccl-in-docker"
  - "all-reduce-perf-nccl-with-ib"
  - "all-reduce-perf-nccl-without-ib"
  - "cuda-samples"
  - "dcgmi-diag-r2"
  - "dcgmi-diag-r3"
  - "gpu-fryer"
  - "ib-gpu-perf"
  - "mem-perf"
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.ensureHealthyNodes.suspend }}
  runAfterCreation: {{ .Values.checks.ensureHealthyNodes.runAfterCreation }}
  slurmJobSpec:
    sbatchScript: |
{{ tpl (.Files.Get "scripts/ensure-healthy-nodes.sh") . | indent 6 }}
    jobContainer:
      image: {{ .Values.images.slurmJob | quote }}
      env:
{{ toYaml .Values.jobContainer.env | indent 8 }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
