{{- if .Values.checks.ensureDirSnccldLogs.enabled -}}
{{- include "soperator-activechecks.checkReactionsConflict" (dict "comment" .Values.checks.ensureDirSnccldLogs.commentPrefix "drain" .Values.checks.ensureDirSnccldLogs.drainReasonPrefix "name" "checks.ensureDirSnccldLogs") -}}
apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "ensure-dir-snccld-logs"
spec:
  checkType: "k8sJob"
  name: "ensure-dir-snccld-logs"
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  schedule: {{ .Values.checks.ensureDirSnccldLogs.schedule | default "0 10 * * *" | quote }} # Once a day at 10:00 UTC
  suspend: {{ .Values.checks.ensureDirSnccldLogs.suspend }}
  runAfterCreation: {{ .Values.checks.ensureDirSnccldLogs.runAfterCreation }}
  k8sJobSpec:
    jobContainer:
      command:
        - bash
        - -c
        - |
{{ .Files.Get "scripts/ensure-dir-snccld-logs.sh" | indent 10 }}
      image: {{ .Values.images.k8sJob | quote }}
      env:
        - name: SNCCLD_LOG_DIR_PATH
          value: {{ .Values.checks.ensureDirSnccldLogs.dir | default "/opt/soperator-outputs/nccl_logs" | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
{{- end -}}
