apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "install-package"
spec:
  checkType: "k8sJob"
  name: "install-package"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.installPackage.suspend }}
  runAfterCreation: {{ .Values.checks.installPackage.runAfterCreation }}
  k8sJobSpec:
    jobContainer:
      command:
        - bash
        - -c
        - |
{{ .Files.Get "scripts/install-package.sh" | indent 10 }}
      image: {{ .Values.images.k8sJob | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
