apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "manage-jail-state"
spec:
  checkType: "k8sJob"
  name: "manage-jail-state"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.manageJailState.suspend }}
  runAfterCreation: {{ .Values.checks.manageJailState.runAfterCreation }}
  k8sJobSpec:
    jobContainer:
      command: [ "/opt/bin/k8s_check_job_entrypoint.sh" ]
      args:
        - ansible-playbook
        - -i
        - inventory/
        - -c
        - local
        - -e
        - ansible_connection=community.general.chroot
        - -e
        - ansible_host=/mnt/jail
        - -e
        - ansible_python_interpreter=/usr/bin/python3
        - run.yml
        - -t
        - run-all-upgrade
        - --diff
      image: {{ .Values.images.k8sJob | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
