apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "prepull-container-image"
spec:
  checkType: "slurmJob"
  name: "prepull-container-image"
  dependsOn: [ "create-user-soperatorchecks", "wait-for-topology" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: true
  runAfterCreation: true
  slurmJobSpec:
    sbatchScript: |
{{ tpl (.Files.Get "scripts/prepull-container-image.sh") . | indent 6 }}
    jobContainer:
      image: {{ .Values.images.slurmJob | quote }}
      env:
{{ toYaml .Values.jobContainer.env | indent 8 }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
