{{- include "soperator-activechecks.checkReactionsConflict" (dict "comment" .Values.checks.upgradeCuda.commentPrefix "drain" .Values.checks.upgradeCuda.drainReasonPrefix "name" "checks.upgradeCuda") -}}
apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "upgrade-cuda"
spec:
  checkType: "k8sJob"
  name: "upgrade-cuda"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.upgradeCuda.suspend }}
  runAfterCreation: {{ .Values.checks.upgradeCuda.runAfterCreation }}
  k8sJobSpec:
    jobContainer:
      command:
        - bash
        - -c
        - |
{{ .Files.Get "scripts/upgrade-cuda.sh" | indent 10 }}
      image: {{ .Values.images.k8sJob | quote }}
      env:
        - name: CUDA_VERSION
          value: {{ .Values.checks.upgradeCuda.cudaVersion | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
