apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "upgrade-health-checker"
spec:
  checkType: "k8sJob"
  name: "upgrade-health-checker"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  suspend: {{ .Values.checks.upgradeHealthChecker.suspend }}
  runAfterCreation: {{ .Values.checks.upgradeHealthChecker.runAfterCreation }}
  k8sJobSpec:
    jobContainer:
      appArmorProfile: unconfined
      command: ["/opt/bin/k8s_check_job_entrypoint.sh"]
      args:
        - ansible-playbook
        - -i
        - "jail,"
        - -e
        - ansible_connection=community.general.chroot
        - -e
        - ansible_host=/mnt/jail
        - -e
        - ansible_python_interpreter=/usr/bin/python3
        - -e
        - nc_health_checker_version={{ .Values.checks.upgradeHealthChecker.healthCheckerVersion }}
        - nc-health-checker.yml
        - --diff
      image: {{ .Values.images.k8sJob | quote }}
      volumeMounts:
{{ toYaml .Values.jobContainer.volumeMounts | indent 8 }}
      volumes:
{{ toYaml .Values.jobContainer.volumes | indent 8 }}
