apiVersion: slurm.nebius.ai/v1alpha1
kind: ActiveCheck
metadata:
  name: "wait-for-soperatorchecks-srun-ready"
spec:
  checkType: "k8sJob"
  name: "wait-for-soperatorchecks-srun-ready"
  dependsOn: [ "create-user-soperatorchecks" ]
  slurmClusterRefName: {{ .Values.slurmClusterRefName | quote }}
  schedule: "0 0 1 1 *"
  suspend: true
  runAfterCreation: true
  k8sJobSpec:
    jobContainer:
      command:
        - bash
        - -c
        - |
{{ .Files.Get "scripts/wait-for-soperatorchecks-srun-ready.sh" | indent 10 }}
      image: {{ .Values.images.slurmJob | quote }}
      volumeMounts:
        - mountPath: "/mnt/jail"
          name: "jail"
      volumes:
        - name: "jail"
          persistentVolumeClaim:
            claimName: "jail-pvc"
    mungeContainer:
      image: {{ .Values.images.munge | quote }}
