---

- name: Add snapshot time for repositories
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/50snapshot
    content: |
      APT::Snapshot "{{ repos_snapshot_timestamp }}";
    owner: root
    group: root
    mode: "0644"
  tags:
    - repos-snapshot
    - repos

- name: Ensure required packages are installed
  ansible.builtin.apt:
    name: "{{ python_packages }}"
    state: present
    update_cache: true
  tags:
    - python

- name: Create symlink for python
  ansible.builtin.file:
    src: /usr/bin/python3.12
    dest: "{{ item }}"
    mode: "0755"
    force: true
    owner: root
    group: root
    state: link
  loop:
    - /usr/bin/python
    - /usr/bin/python3
