apiVersion: v2
name: helm-soperator-notifier
description: A set of VictoriaMetrics entities to ease up a setup of Slurm operation notifications to Slack
type: application
version: 2.1.0
appVersion: "2.1.0"
