{{- if and (gt (len .Values.diskTypes) 0) (gt (len .Values.fsTypes) 0) }}
{{- range $disk := $.Values.diskTypes }}
{{- range $fs := $.Values.fsTypes }}
{{- $scName := (printf "%s-%s-%s" $.Values.storageClassNamePrefix $disk $fs) | lower | replace "_" "-" | replace "." "-" }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ $scName }}
  labels:
    {{- include "storageclasses.labels" $ | nindent 4 }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $.Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
provisioner: {{ $.Values.provisioner }}
parameters:
  type: {{ $disk }}
  csi.storage.k8s.io/fstype: {{ $fs }}
reclaimPolicy: {{ $.Values.reclaimPolicy }}
volumeBindingMode: {{ $.Values.volumeBindingMode }}
allowVolumeExpansion: {{ $.Values.allowVolumeExpansion }}
{{- with $.Values.mountOptions }}
mountOptions:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
