resources:
  - soperatorchecks.yaml
  - ../rbac/soperatorchecks/role.yaml
images:
  - name: controller
    newName: cr.eu-north1.nebius.cloud/soperator/soperatorchecks
    newTag: 1.21.1
patches:
  # Protect the /metrics endpoint by putting it behind auth.
  # If you want your controller-manager to expose the /metrics
  # endpoint w/o any authn/z, please comment the following line.
  - path: ./manager_auth_proxy_patch.yaml
