---

- name: Ensure nvidia-container-toolkit packages are installed
  ansible.builtin.apt:
    name:
      - nvidia-container-toolkit={{ nvidia_toolkit_version }}
      - nvidia-container-toolkit-base={{ nvidia_toolkit_version }}
      - libnvidia-container-tools={{ nvidia_toolkit_version }}
      - libnvidia-container1={{ nvidia_toolkit_version }}
    state: present
    update_cache: true
  tags:
    - nvidia-container-toolkit

- name: Copy NVIDIA nvidia-container-runtime config.toml
  ansible.builtin.copy:
    src: config.toml
    dest: /etc/nvidia-container-runtime/config.toml
    owner: root
    group: root
    mode: '0644'
  tags:
    - nvidia-container-toolkit
