slurmClusterRefName: "soperator"
jobContainer:
  env:
    - name: "K8S_POD_NAME"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.name"
    - name: "K8S_POD_NAMESPACE"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.namespace"
    - name: "SNCCLD_ENABLED"
      value: "false"
  volumeMounts:
    - mountPath: "/mnt/jail"
      name: "jail"
  volumes:
    - name: "jail"
      persistentVolumeClaim:
        claimName: "jail-pvc"
images:
  slurmJob: "cr.eu-north1.nebius.cloud/soperator/slurm_check_job:1.22.2-noble-slurm25.05.4"
  k8sJob: "cr.eu-north1.nebius.cloud/soperator/k8s_check_job:1.22.2-noble-slurm25.05.4"
  munge: "cr.eu-north1.nebius.cloud/soperator/munge:1.22.2-noble-slurm25.05.4"
# Pyxis syntax with '#' separator for registry
activeCheckImage: "cr.eu-north1.nebius.cloud#soperator/active_checks:12.9.0-ubuntu24.04-nccl_tests2.16.4-00ce55c"
reservationPrefix: soperatorchecks.suspicious
checks:
  allReducePerfNCCLInDocker:
    suspend: true
    runAfterCreation: true
  allReducePerfNCCLWithIB:
    suspend: false
    runAfterCreation: true
  allReducePerfNCCLWithoutIB:
    suspend: false
    runAfterCreation: true
  createUserSoperatorChecks:
    suspend: true
    runAfterCreation: true
  createUser:
    suspend: true
    runAfterCreation: true
    name: "nebius"
  cudaSamples:
    suspend: false
    runAfterCreation: true
  dcgmiDiagR2:
    suspend: false
    runAfterCreation: true
  dcgmiDiagR3:
    suspend: true
    runAfterCreation: true
  enrootCleanup:
    suspend: false
    runAfterCreation: false
  ensureDirSnccldLogs:
    suspend: false
    runAfterCreation: true
    enabled: false
    dir: /opt/soperator-outputs/nccl_logs
    schedule: 15 0 * * *
  ensureHealthyNodes:
    suspend: true
    runAfterCreation: true
  extensiveCheck:
    suspend: true
    runAfterCreation: false
  gpuFryer:
    suspend: false
    runAfterCreation: true
  ibGpuPerf:
    suspend: false
    runAfterCreation: true
  installPackage:
    suspend: true
    runAfterCreation: false
  memPerf:
    suspend: false
    runAfterCreation: true
  prepullContainerImage:
    suspend: true
    runAfterCreation: true
  soperatorOutputsLogsCleaner:
    suspend: false
    runAfterCreation: false
  sshCheck:
    suspend: true
    runAfterCreation: true
    numOfLoginNodes: 2
  upgradeCuda:
    suspend: true
    runAfterCreation: false
    cudaVersion: "12.4.1-1"
  upgradeHealthChecker:
    suspend: true
    runAfterCreation: false
    healthCheckerVersion: "1.0.0-164.251103"
  waitForTopology:
    suspend: true
    runAfterCreation: true
