slurmClusterRefName: "soperator"
jobContainer:
  env:
    - name: "K8S_POD_NAME"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.name"
    - name: "K8S_POD_NAMESPACE"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.namespace"
    - name: "SNCCLD_ENABLED"
      value: "false"
  volumeMounts:
    - mountPath: "/mnt/jail"
      name: "jail"
  volumes:
    - name: "jail"
      persistentVolumeClaim:
        claimName: "jail-pvc"
images:
  slurmJob: "cr.eu-north1.nebius.cloud/soperator/slurm_check_job:1.22.1-noble-slurm24.11.6"
  k8sJob: "cr.eu-north1.nebius.cloud/soperator/k8s_check_job:1.22.1-noble-slurm24.11.6"
  munge: "cr.eu-north1.nebius.cloud/soperator/munge:1.22.1-noble-slurm24.11.6"
# Pyxis syntax with '#' separator for registry
activeCheckImage: "cr.eu-north1.nebius.cloud#soperator/active_checks:12.9.0-ubuntu24.04-nccl_tests2.16.4-4ae0b6d"
sshCheck:
  numOfLoginNodes: 2
createUser:
  name: "nebius"
upgradeCuda:
  cudaVersion: "12.4.1-1"
upgradeHealthChecker:
  healthCheckerVersion: "1.0.0-161.251029"
ensureDirSnccldLogs:
  enabled: false
  dir: /opt/soperator-outputs/nccl_logs
  schedule: 15 0 * * *
