slurmClusterRefName: "soperator"
jobContainer:
  env:
    - name: "K8S_POD_NAME"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.name"
    - name: "K8S_POD_NAMESPACE"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.namespace"
    - name: "SNCCLD_ENABLED"
      value: "false"
      # - name: "SLURM_EXTRA_COMMENT_JSON"
      #   value: '{"key1": "value1", "key2": "value2"}'
  volumeMounts:
    - mountPath: "/mnt/jail"
      name: "jail"
  volumes:
    - name: "jail"
      persistentVolumeClaim:
        claimName: "jail-pvc"
images:
  slurmJob: "cr.eu-north1.nebius.cloud/soperator/slurm_check_job:1.23.0-noble-slurm25.05.4"
  k8sJob: "cr.eu-north1.nebius.cloud/soperator/k8s_check_job:1.23.0-noble-slurm25.05.4"
  munge: "cr.eu-north1.nebius.cloud/soperator/munge:1.23.0-noble-slurm25.05.4"
# Pyxis syntax with '#' separator for registry
activeCheckImage: "cr.eu-north1.nebius.cloud#soperator/active_checks:12.9.0-ubuntu24.04-nccl_tests2.16.4-00ce55c"
checks:
  allReducePerfNCCLInDocker:
    suspend: true
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  allReducePerfNCCLWithIB:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  allReducePerfNCCLWithoutIB:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  createUserSoperatorChecks:
    suspend: true
    runAfterCreation: true
  createUser:
    suspend: true
    runAfterCreation: true
    name: "nebius"
  cudaSamples:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  dcgmiDiagR2:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  dcgmiDiagR3:
    suspend: true
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  enrootCleanup:
    suspend: false
    runAfterCreation: false
  ensureDirSnccldLogs:
    suspend: false
    runAfterCreation: true
    enabled: true
    dir: /opt/soperator-outputs/nccl_logs
    schedule: 15 0 * * *
  ensureHealthyNodes:
    suspend: true
    runAfterCreation: true
  extensiveCheck:
    suspend: true
    runAfterCreation: false
    drainReasonPrefix: "[hardware_problem]"
    reservationPrefix: "suspicious-node"
  gpuFryer:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  ibGpuPerf:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  installPackage:
    suspend: true
    runAfterCreation: false
  memPerf:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  prepullContainerImage:
    suspend: true
    runAfterCreation: true
  soperatorOutputsLogsCleaner:
    suspend: false
    runAfterCreation: false
  sshCheck:
    suspend: true
    runAfterCreation: true
    numOfLoginNodes: 2
  upgradeCuda:
    suspend: true
    runAfterCreation: false
    cudaVersion: "12.4.1-1"
  upgradeHealthChecker:
    suspend: true
    runAfterCreation: false
    healthCheckerVersion: "1.0.0-169.251125"
  waitForTopology:
    suspend: true
    runAfterCreation: true
