slurmClusterRefName: "soperator"
jobContainer:
  env:
    - name: "K8S_POD_NAME"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.name"
    - name: "K8S_POD_NAMESPACE"
      valueFrom:
        fieldRef:
          fieldPath: "metadata.namespace"
    - name: "SNCCLD_ENABLED"
      value: "false"
  volumeMounts:
    - mountPath: "/mnt/jail"
      name: "jail"
  volumes:
    - name: "jail"
      persistentVolumeClaim:
        claimName: "jail-pvc"
images:
  slurmJob: "cr.eu-north1.nebius.cloud/soperator/slurm_check_job:1.23.0-noble-slurm25.05.5"
  k8sJob: "cr.eu-north1.nebius.cloud/soperator/k8s_check_job:1.23.0-noble-slurm25.05.5"
  munge: "cr.eu-north1.nebius.cloud/soperator/munge:1.23.0-noble-slurm25.05.5"
# Pyxis syntax with '#' separator for registry
activeCheckImage: "cr.eu-north1.nebius.cloud#soperator/active_checks:12.9.0-ubuntu24.04-nccl_tests2.16.4-3935b93"
checks:
  # List of checks
  allReducePerfNCCLInDocker:
    suspend: true
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  allReducePerfNCCLWithIB:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  allReducePerfNCCLWithoutIB:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  cudaSamples:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  dcgmiDiagR2:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  dcgmiDiagR3:
    suspend: true
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  ensureHealthyNodes:
    suspend: true
    runAfterCreation: true
  extensiveCheck:
    suspend: true
    runAfterCreation: false
    drainReasonPrefix: "[hardware_problem]"
    reservationPrefix: "suspicious-node"
    extraCommentJson: ""
  gpuFryer:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  ibGpuPerf:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  memPerf:
    suspend: false
    runAfterCreation: true
    drainReasonPrefix: "[node_problem]"
  sshCheck:
    suspend: true
    runAfterCreation: true
    numOfLoginNodes: 2
  # List of actions
  createUserSoperatorChecks:
    suspend: true
    runAfterCreation: true
  createUser:
    suspend: true
    runAfterCreation: true
    name: "nebius"
  enrootCleanup:
    suspend: false
    runAfterCreation: false
  ensureDirSnccldLogs:
    suspend: false
    runAfterCreation: true
    enabled: true
    dir: /opt/soperator-outputs/nccl_logs
    schedule: 15 0 * * *
  prepullContainerImage:
    suspend: true
    runAfterCreation: true
  soperatorOutputsLogsCleaner:
    suspend: false
    runAfterCreation: false
  manageJailState:
    suspend: true
    runAfterCreation: false
  upgradeHealthChecker:
    suspend: true
    runAfterCreation: false
    healthCheckerVersion: "1.0.0-171.251205"
  waitForTopology:
    suspend: true
    runAfterCreation: true
