apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: slurm-scripts
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
data:
  # built-in scripts
{{- range $name, $conf := .Values.slurmScripts.builtIn }}
{{- if $conf.enabled }}
  {{ $name }}: |-
  {{- if $conf.customContent }}
{{ tpl ($conf.customContent) $ | indent 4 }}
  {{- else }}
{{ tpl (printf "slurm_scripts/%s" $name | $.Files.Get) $ | indent 4 }}
  {{- end }}
{{- end }}
{{- end }}
  # extra scripts
{{- range $name, $content := .Values.slurmScripts.extra }}
  {{ $name }}: |-
{{ tpl $content $ | indent 4 }}
{{- end }}
