---

# /var/spool/slurmd for bind-mounting it from the host. It's needed for sbatch to work
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: root
    group: root
  loop:
    - /var/spool/slurmd
    - /usr/lib/slurm
  tags:
    - slurm-client
    - slurm-packages

- name: Install Slurm client packages
  ansible.builtin.apt:
    name: >-
      {{
        slurm.client_packages
        | map('regex_replace', '$', '=' ~ slurm.version ~ '-1')
        | list
      }}
    state: present
    update_cache: true
  tags:
    - slurm-client
    - slurm-packages
