controllerManager:
  kubeRbacProxy:
    args:
      - --secure-listen-address=0.0.0.0:8443
      - --upstream=http://127.0.0.1:8080/
      - --logtostderr=true
      - --v=0
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: v0.15.0
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
  manager:
    args:
      - --health-probe-bind-address=:8081
      - --metrics-bind-address=127.0.0.1:8080
      - --leader-elect
    controllersEnabled:
      cluster: true
      nodeconfigurator: true
      nodeset: true
      topology: true
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    env:
      isMariadbCrdInstalled: "false"
      isOpentelemetryCollectorCrdInstalled: "false"
      isApparmorCrdInstalled: "false"
      isPrometheusCrdInstalled: "false"
      slurmOperatorWatchNamespaces: '*'
      topologyLabelPrefix: "topology.nebius.com"
    image:
      repository: cr.eu-north1.nebius.cloud/soperator/slurm-operator
      tag: 1.23.2
    imagePullPolicy: Always
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
  tolerations: []
kubernetesClusterDomain: cluster.local
webhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
serviceMonitor:
  enabled: true
  jobLabel: "soperator"
  interval: "30s"
  scrapeTimeout: "28s"
  additionalLabels: {}
  metricRelabelings: []
  relabelings: []
certManager:
  enabled: true
kruise:
  installOperator: false
  manager:
    replicas: 1
  featureGates: "ImagePullJobGate=true,RecreatePodWhenChangeVCTInCloneSetGate=true,StatefulSetAutoResizePVCGate=true,StatefulSetAutoDeletePVC=true,PreDownloadImageForInPlaceUpdate=true"
