ansible==14.3.0
ansible-compat==26.8.0
ansible-core==2.21.3
ansible-lint==26.8.0
attrs==26.1.0
black==26.5.1
bracex==3.0.1
cffi==2.1.1
click==8.4.2
cryptography==50.0.0
distro==1.9.0
filelock==3.32.3
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.3
pycparser==3.0
python-debian==1.1.1
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
resolvelib==1.2.1
rpds-py==2026.6.3
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
subprocess-tee==0.4.2
wcmatch==11.0
yamllint==1.38.0
