ansible==13.4.0
ansible-compat==25.12.1
ansible-core==2.20.4
ansible-lint==26.3.0
argcomplete==3.6.3
attrs==26.1.0
black==26.3.1
bracex==2.6
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==46.0.5
distro==1.9.0
filelock==3.25.2
importlib_metadata==9.0.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pycparser==3.0
python-debian==1.1.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
resolvelib==1.2.1
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
subprocess-tee==0.4.2
wcmatch==10.1
yamllint==1.38.0
zipp==3.23.0
