---

# Order of roles here is the same as in jail.dockerfile
- name: Run all
  hosts: all
  become: true
  gather_facts: true
  roles:
    - common-packages
    - skel
    - motd
    - python
    - openmpi
    - nvtop
    - dcgmi
    - gdrcopy
    - nvidia-container-toolkit
    - docker-cli
    - slurm
    - nc-health-checker
  tags:
    - run-all

- name: Install Cuda
  hosts: all
  become: true
  gather_facts: true
  roles:
    - common-packages
    - cuda
  tags:
    - upgrade-cuda
