---

- name: Upgrade all
  hosts:
    - all
    - localhost
  vars:
    cuda_version: "{{ lookup('env','CUDA_VERSION') }}"
    cuda_samples_cuda_version: "{{ cuda_version }}"
    nccl_tests_cuda_version: "{{ cuda_version }}"
    nccl_tests_version: "{{ lookup('env','NCCL_TESTS_VERSION') }}" # https://github.com/nebius/ml-containers/blob/main/ansible/roles/nccl-tests/defaults/main.yml#L3
    perftest_cuda_version: "{{ cuda_version }}"

    ansible_connection: community.general.chroot
    ansible_host: /mnt/jail
    ansible_python_interpreter: /usr/bin/python3
  become: true
  gather_facts: true
  gather_subset:
    - min
  roles:
    - repos
    - python
    - common-packages
    - cuda
    - cuda-samples
    - nccl-tests
    - dcgmi
    - perftest
    - nvtop
    - docker-cli
    - openmpi
    - dcgmi
    - gdrcopy
    - nvidia-container-toolkit
    - soperator-scripts
    - slurm-divert
    - slurm-client
    - skel
    - motd
    - nc-health-checker
  tags:
    - run-all-upgrade
