---

# Order of roles here is the same as in jail.dockerfile
- name: Upgrade all
  hosts: all
  become: true
  gather_facts: true
  roles:
    - python
    - common-packages
    - skel
    - motd
    - openmpi
    - nvtop
    - dcgmi
    - gdrcopy
    - nvidia-container-toolkit
    - docker-cli
    - soperator-scripts
    - slurm-divert
    - slurm-client
    - nc-health-checker
  tags:
    - run-all-upgrade

- name: Install Cuda
  hosts: all
  become: true
  gather_facts: true
  roles:
    - common-packages
    - cuda
    - nccl-tests
  tags:
    - upgrade-cuda
