apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
configMapGenerator:
  - name: soperator-fluxcd-values
    files:
      - values.yaml
    options:
      labels:
        reconcile.fluxcd.io/watch: "Enabled"
generatorOptions:
  disableNameSuffixHash: true
