apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "soperator.name" . }}-binding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: slurm-operator
    app.kubernetes.io/part-of: slurm-operator
  {{- include "soperator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "soperator.name" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "soperator.name" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
