apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "soperator.fullname" . }}-binding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: slurm-operator
    app.kubernetes.io/part-of: slurm-operator
  {{- include "soperator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "soperator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "soperator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "soperator.fullname" . }}-binding-rebooter
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: slurm-operator
    app.kubernetes.io/part-of: slurm-operator
  {{- include "soperator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "soperator.fullname" . }}-node-configurator-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "soperator.fullname" . }}-controller-node-configurator'
  namespace: '{{ .Release.Namespace }}'
