apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "soperator.fullname" . }}-mutating-webhook-configuration
  {{- if .Values.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "soperator.fullname" . }}-serving-cert
  {{- end }}
  labels:
  {{- include "soperator.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "soperator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-slurm-nebius-ai-v1alpha1-nodeset
  failurePolicy: Fail
  name: mnodeset-v1alpha1.kb.io
  rules:
  - apiGroups:
    - slurm.nebius.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nodesets
  sideEffects: None
