#
# Mellanox Technologies Ltd. public repository configuration file.
# For more information, refer to http://linux.mellanox.com
#

# [mlnx_ofed_{{ repos_openmpi_version }}_base]
deb http://linux.mellanox.com/public/repo/mlnx_ofed/24.04-0.7.0.0/ubuntu{{ ansible_distribution_version }}/$(ARCH) ./
