{{- if and .Values.backup.enabled .Values.backup.config.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-backup-config
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: helm-soperator-backup-config
      interval: {{ default .Values.backup.interval .Values.backup.config.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-soperator
      version: {{ default .Chart.AppVersion .Values.backup.config.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  install:
    remediation:
      retries: 3
  interval: {{ default .Values.backup.interval .Values.backup.config.interval }}
  timeout: {{ default .Values.backup.timeout .Values.backup.config.timeout }}
  releaseName: {{ .Values.backup.config.releaseName }}
  upgrade:
    remediation:
      retries: 3
  values:
  {{- if .Values.backup.config.values }}
  {{- toYaml .Values.backup.config.values | nindent 4 }}
  {{- end }}
{{- end }}
