{{- if .Values.backup.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-k8up
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  {{- with .Values.backup.driftDetection }}
  driftDetection:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  chart:
    spec:
      chart: k8up
      interval: {{ .Values.backup.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-k8up
      version: {{ .Values.backup.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  {{- if .Values.certManager.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-cert-manager
  {{- end }}
  {{- if and .Values.observability.enabled .Values.observability.prometheusOperator.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-prometheus-operator-crds
  {{- end }}
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
  interval: {{ .Values.backup.interval }}
  timeout: {{ .Values.backup.timeout }}
  releaseName: {{ .Values.backup.releaseName }}
  targetNamespace: {{ .Values.backup.namespace }}
  values:
  {{- if .Values.backup.overrideValues }}
    {{- toYaml .Values.backup.overrideValues | nindent 4 }}
  {{- else }}
    k8up:
      skipWithoutAnnotation: true
      image:
        repository: ghcr.io/vshn/k8up
        tag: v4.8.0
    {{- if .Values.observability.prometheusOperator.enabled }}
      metrics:
        grafanaDashboard:
          additionalLabels:
            grafana_dashboard: "1"
          enabled: true
          namespace: monitoring-system
        prometheusRule:
          enabled: false
        serviceMonitor:
          enabled: true
    cleanup:
      pullPolicy: {{ .Values.backup.values.cleanup.pullPolicy }}
      registry: {{ .Values.backup.values.cleanup.registry }}
      repository: {{ .Values.backup.values.cleanup.repository }}
      tag: {{ .Values.backup.values.cleanup.tag }}
    {{- end }}
  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: backup
    optional: true
    valuesKey: values.yaml
{{- end }}
