{{ if .Values.helmReleaseTriggerOperator.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-helmrelease-trigger
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: helm-helmrelease-trigger-operator
      interval: {{ .Values.helmReleaseTriggerOperator.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-helmrelease-trigger
      version: {{ .Values.helmReleaseTriggerOperator.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  interval: {{ .Values.helmReleaseTriggerOperator.interval }}
  timeout: {{ .Values.helmReleaseTriggerOperator.timeout }}
  releaseName: {{ .Values.helmReleaseTriggerOperator.releaseName }}
  targetNamespace: {{ .Values.helmReleaseTriggerOperator.namespace }}
  {{- include "soperator-fluxcd.driftDetection" .Values.helmReleaseTriggerOperator.driftDetection | nindent 2 }}
  values:
  {{- if .Values.helmReleaseTriggerOperator.overrideValues }}
    {{- toYaml .Values.helmReleaseTriggerOperator.overrideValues | nindent 4 }}
  {{- else }}
    fullnameOverride : "helmrelease-trigger"
    controllerManager:
      manager:
        args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        - --enable-hr-autodiscovery={{ .Values.helmReleaseTriggerOperator.values.enableHrAutodiscovery | default true }}
        - --log-format=json
        - --log-level=info
        containerSecurityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        image:
          repository: {{ .Values.helmReleaseTriggerOperator.values.repository | default "cr.eu-north1.nebius.cloud/soperator/helmrelease-trigger-operator" | quote }}
          tag: {{ .Values.helmReleaseTriggerOperator.version | quote}}
        resources: {{- toYaml .Values.helmReleaseTriggerOperator.values.resources | nindent 8 }}
      replicas: 1
      serviceAccount:
        annotations: {}
    metricsService:
      ports:
      - name: https
        port: 8443
        protocol: TCP
        targetPort: 8443
      type: ClusterIP

  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: terraform-hr-trigger-operator
    optional: true
    valuesKey: values.yaml
  - kind: ConfigMap
    name: hr-trigger-operator
    optional: true
    valuesKey: values.yaml
{{- end }}
