{{- if .Values.nfsServer.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-nfs-server
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  {{- with .Values.nfsServer.driftDetection }}
  driftDetection:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  chart:
    spec:
      chart: helm-nfs-server
      interval: {{ .Values.nfsServer.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-nfs-server
      version: {{ .Values.nfsServer.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  - name: {{ include "soperator-fluxcd.fullname" . }}-csi-driver-nfs
  install:
    {{- toYaml .Values.nfsServer.install | nindent 4 }}
  upgrade:
    {{- toYaml .Values.nfsServer.upgrade | nindent 4 }}
  interval: {{ .Values.nfsServer.interval }}
  timeout: {{ .Values.nfsServer.timeout }}
  releaseName: {{ .Values.nfsServer.releaseName }}
  targetNamespace: {{ .Values.nfsServer.namespace }}
  values:
  {{- if .Values.nfsServer.overrideValues }}
    {{- toYaml .Values.nfsServer.overrideValues | nindent 4 }}
  {{- end }}
{{- end }}
