{{- if and .Values.observability.enabled .Values.observability.opentelemetry.enabled }}
{{- include "soperator-fluxcd.validatePublicEndpointTokenKind" . -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-opentelemetry-collector-events
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  {{- with .Values.observability.opentelemetry.events.driftDetection }}
  driftDetection:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  chart:
    spec:
      chart: opentelemetry-collector
      interval: {{ .Values.observability.opentelemetry.events.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-opentelemetry-collector
      version: {{ .Values.observability.opentelemetry.events.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  - name: {{ include "soperator-fluxcd.fullname" . }}-vm-logs
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      remediateLastFailure: true
  interval: {{ .Values.observability.opentelemetry.events.interval }}
  timeout: {{ .Values.observability.opentelemetry.events.timeout }}
  releaseName: opentelemetry-collector-events
  targetNamespace: logs-system
  values:
  {{- $hasPublicEndpoint := .Values.observability.publicEndpointEnabled }}
  {{- if .Values.observability.opentelemetry.events.overrideValues }}
    {{- toYaml .Values.observability.opentelemetry.events.overrideValues | nindent 4 }}
  {{- else }}
    clusterRole:
      create: true
      rules:
      - apiGroups:
        - ""
        resources:
        - pods
        - namespaces
        verbs:
        - get
        - watch
        - list
      - apiGroups:
        - events.k8s.io
        resources:
        - events
        verbs:
        - watch
        - list
    config:
      exporters:
        otlphttp/victoriametrics:
          compression: gzip
          encoding: proto
          logs_endpoint: http://vm-logs-victoria-logs-single-server:9428/insert/opentelemetry/v1/logs
          retry_on_failure:
            initial_interval: 200ms
          timeout: 5s
        {{- if $hasPublicEndpoint }}
        otlp:
          endpoint: {{ .Values.observability.opentelemetry.publicEndpoint }}
          balancer_name: round_robin
          compression: snappy
          retry_on_failure:
            initial_interval: 200ms
          timeout: 5s
          headers:
            iam-container: {{ .Values.observability.logsProjectId }}
            {{- $extraHeaders := .Values.observability.opentelemetry.extraHeaders }}
            {{- if and $extraHeaders (gt (len $extraHeaders) 0) }}
            {{- toYaml $extraHeaders | nindent 12 }}
            {{- end }}
          auth:
            authenticator: bearertokenauth
        {{- end }}
      extensions:
        health_check:
          endpoint: 0.0.0.0:13133
        {{- if $hasPublicEndpoint }}
        bearertokenauth:
        {{- if eq .Values.observability.publicEndpointTokenKind "secret" }}
          filename: "/o11ytoken/accessToken"
        {{- else if eq .Values.observability.publicEndpointTokenKind "hostPath" }}
          filename: "/o11ytoken/tsa-token"
        {{- end }}
        {{- end }}
      processors:
        batch:
          send_batch_max_size: 700
          send_batch_size: 250
        k8sattributes:
          extract:
            labels:
            - from: pod
              key: external-o11y
              tag_name: external_o11y
            - from: namespace
              key: o11y_resource_id
              tag_name: resource_id
            - from: namespace
              key: o11y_service_provider
              tag_name: service_provider
            metadata:
            - k8s.namespace.name
            - k8s.node.name
            - k8s.pod.name
            - k8s.pod.uid
            - k8s.pod.start_time
          filter:
            node_from_env_var: K8S_NODE_NAME
          passthrough: false
          pod_association:
          - sources:
            - from: resource_attribute
              name: k8s.pod.ip
          - sources:
            - from: resource_attribute
              name: k8s.pod.uid
          - sources:
            - from: connection
          wait_for_metadata: true
          wait_for_metadata_timeout: 30s
        memory_limiter:
          check_interval: 5s
          limit_percentage: 80
          spike_limit_percentage: 25
        transform:
          log_statements:
          - context: log
            error_mode: ignore
            statements:
            - set(attributes["cache"], ParseJSON(body.string)) where IsMatch(body.string,
              "^\\{")
            - set(severity_text, "INFO")
            - set(attributes["cluster"], "${env:CLUSTER_NAME}")
            {{- if .Values.observability.clusterId }}
            - set(attributes["sp_resource_id"], "${env:CLUSTER_ID}")
            {{- end }}
      receivers:
        k8sobjects:
          auth_type: serviceAccount
          objects:
          - group: events.k8s.io
            mode: watch
            name: events
        zipkin: null
      service:
        {{- if .Values.observability.opentelemetry.metrics.enabled }}
        telemetry:
          metrics:
            address: 0.0.0.0:8888
        {{- end }}
        extensions:
        - health_check
        {{- if $hasPublicEndpoint }}
        - bearertokenauth
        {{- end }}
        pipelines:
          logs/events:
            exporters:
            - otlphttp/victoriametrics
            {{- if $hasPublicEndpoint }}
            - otlp
            {{- end }}
            processors:
            - transform
            - memory_limiter
            - batch
            receivers:
            - k8sobjects
          metrics: null
          traces: null
    extraEnvs:
    - name: K8S_NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: CLUSTER_NAME
      value: {{ .Values.observability.clusterName | quote }}
    {{- if .Values.observability.clusterId }}
    - name: CLUSTER_ID
      value: {{ .Values.observability.clusterId | quote }}
    {{- end }}
    - name: GOMAXPROCS
      value: "1"
    image:
      pullPolicy: IfNotPresent
      repository: cr.eu-north1.nebius.cloud/observability/nebius-o11y-agent
      tag: 0.2.267
    mode: deployment
    rollout:
      rollingUpdate:
        maxUnavailable: 50%
      strategy: RollingUpdate
    securityContext:
      runAsGroup: 10001
      runAsUser: 10001
    serviceAccount:
      create: true
    tolerations: []
    useGOMEMLIMIT: {{ .Values.observability.opentelemetry.events.values.useGOMEMLIMIT | default true }}
    {{- if and .Values.observability.opentelemetry.events.values
    .Values.observability.opentelemetry.events.values.resources }}
    resources:
    {{- toYaml .Values.observability.opentelemetry.events.values.resources | nindent 6 }}
    {{- end }}
    {{- if $hasPublicEndpoint }}
    extraVolumes:
      - name: o11ytoken
        {{- if eq .Values.observability.publicEndpointTokenKind "secret" }}
        secret:
          secretName: o11y-writer-sa-token
        {{- else if eq .Values.observability.publicEndpointTokenKind "hostPath" }}
        hostPath:
          path: /mnt/cloud-metadata
          type: Directory
        {{- end }}
    extraVolumeMounts:
      - mountPath: /o11ytoken
        name: o11ytoken
        readOnly: true
    {{- end }}
    {{- if .Values.observability.opentelemetry.metrics.enabled }}
    command:
      extraArgs:
        - --feature-gates=-telemetry.UseLocalHostAsDefaultMetricsAddress
    ports:
      metrics:
        enabled: true
    podMonitor:
      enabled: true
      metricsEndpoints:
        - port: metrics
          interval: {{ .Values.observability.opentelemetry.metrics.interval | default "30s" }}
          scrapeTimeout: {{ .Values.observability.opentelemetry.metrics.scrapeTimeout | default "10s" }}
          relabelings:
            - sourceLabels: [__meta_kubernetes_pod_name]
              targetLabel: pod
            - replacement: otel-collector-events
              targetLabel: collector
    {{- end }}
  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: terraform-opentelemetry-collector-events
    optional: true
    valuesKey: values.yaml
  - kind: ConfigMap
    name: opentelemetry-collector-events
    optional: true
    valuesKey: values.yaml
{{- end }}
