apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-slurm-cluster
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  {{- with .Values.slurmCluster.driftDetection }}
  driftDetection:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  chart:
    spec:
      chart: helm-slurm-cluster
      interval: {{ .Values.slurmCluster.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-soperator
      version: {{ .Values.slurmCluster.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  - name: {{ include "soperator-fluxcd.fullname" . }}-soperator
{{- if .Values.slurmCluster.slurmClusterStorage.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-slurm-cluster-storage
{{- end }}
{{- if .Values.securityProfilesOperator.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-security-profiles-operator
{{- end }}
{{- if .Values.nfsServer.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-nfs-server
{{- end }}

  install:
    {{- toYaml .Values.slurmCluster.install | nindent 4 }}
  interval: {{ .Values.slurmCluster.interval }}
  timeout: {{ .Values.slurmCluster.timeout }}
  releaseName: soperator
  targetNamespace: soperator
  upgrade:
    {{- toYaml .Values.slurmCluster.upgrade | nindent 4 }}
  values:
  {{- if .Values.slurmCluster.overrideValues }}
    {{- toYaml .Values.slurmCluster.overrideValues | nindent 4 }}
  {{- else }}
    clusterName: soperator
  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: terraform-slurm-cluster
    optional: true
    valuesKey: values.yaml
  - kind: ConfigMap
    name: slurm-cluster
    optional: true
    valuesKey: values.yaml
