{{- if and .Values.slurmCluster.enabled .Values.slurmCluster.slurmClusterStorage.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-slurm-cluster-storage
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: helm-slurm-cluster-storage
      interval: {{ .Values.slurmCluster.slurmClusterStorage.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-soperator
      version: {{ .Values.slurmCluster.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  - name: {{ include "soperator-fluxcd.fullname" . }}-storageclasses
  {{- if .Values.soperator.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-soperator
  {{- end }}
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      remediateLastFailure: true
  interval: {{ .Values.slurmCluster.slurmClusterStorage.interval }}
  timeout: {{ .Values.slurmCluster.slurmClusterStorage.timeout }}
  releaseName: {{ .Values.slurmCluster.slurmClusterStorage.releaseName }}
  targetNamespace: {{ .Values.slurmCluster.namespace }}
  {{- if .Values.slurmCluster.slurmClusterStorage.overrideValues }}
  values:
    {{- toYaml .Values.slurmCluster.slurmClusterStorage.overrideValues | nindent 4 }}
  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: terraform-slurm-cluster-storage
    optional: true
    valuesKey: values.yaml
  - kind: ConfigMap
    name: slurm-cluster-storage
    optional: true
    valuesKey: values.yaml
{{- end }}
