{{- if and .Values.observability.enabled .Values.observability.vmStack.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-victoria-metrics-operator-crds
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  {{- with .Values.observability.vmStack.crds.driftDetection }}
  driftDetection:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  chart:
    spec:
      chart: victoria-metrics-operator-crds
      interval: {{ .Values.observability.vmStack.crds.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-victoriametrics
      version: {{ .Values.observability.vmStack.crds.version }}
  install:
    {{- toYaml .Values.observability.vmStack.crds.install | nindent 4 }}
  interval: {{ .Values.observability.vmStack.crds.interval }}
  upgrade:
    {{- toYaml .Values.observability.vmStack.crds.upgrade | nindent 4 }}
{{- end }}
