{{- if and .Values.observability.enabled .Values.observability.vmStack.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ include "soperator-fluxcd.fullname" . }}-vm-stack
  labels:
  {{- include "soperator-fluxcd.labels" . | nindent 4 }}
spec:
  chart:
    spec:
      chart: victoria-metrics-k8s-stack
      interval: {{ .Values.observability.vmStack.interval }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "soperator-fluxcd.fullname" . }}-victoriametrics
      version: {{ .Values.observability.vmStack.version }}
  dependsOn:
  - name: {{ include "soperator-fluxcd.fullname" . }}-ns
  {{- if .Values.certManager.enabled }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-cert-manager
  {{- end }}
  - name: {{ include "soperator-fluxcd.fullname" . }}-victoria-metrics-operator-crds
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
      remediateLastFailure: true
  interval: {{ .Values.observability.vmStack.interval }}
  timeout: {{ .Values.observability.vmStack.timeout }}
  releaseName: {{ .Values.observability.vmStack.releaseName }}
  {{- if .Values.observability.vmStack.namespace }}
  targetNamespace: {{ .Values.observability.vmStack.namespace }}
  {{- end }}
  values:
  {{- if .Values.observability.vmStack.overrideValues }}
    {{- toYaml .Values.observability.vmStack.overrideValues | nindent 4 }}
  {{- else }}
      alertmanager:
        enabled: false
      crds:
        enabled: false
      defaultRules:
        groups:
          etcd:
            create: false
          vmcluster:
            create: false
        rules:
          KubeHpaMaxedOut:
            create: false
          KubeMemoryOvercommit:
            create: false
          TooHighChurnRate24h:
            create: false
          TooManyScrapeErrors:
            create: false
      grafana:
        enabled: true
        {{- if .Values.observability.vmStack.values.grafanaIni }}
        grafana.ini: {{- toYaml .Values.observability.vmStack.values.grafanaIni | nindent 10 }}
        {{- end }}
        assertNoLeakedSecrets: false
        plugins:
          - https://storage.googleapis.com/integration-artifacts/grafana-lokiexplore-app/grafana-lokiexplore-app-latest.zip;grafana-lokiexplore-app
          - victoriametrics-logs-datasource
        sidecar:
          dashboards:
            searchNamespace: {{- toYaml .Values.observability.vmStack.values.dashboardNamespaces | nindent 12 }}
          datasources:
            searchNamespace: {{- toYaml .Values.observability.vmStack.values.dashboardNamespaces | nindent 12 }}
      kube-state-metrics:
        extraArgs:
          - '--metric-allowlist=kube_pod_info'
          - '--metric-allowlist=kube_pod_status_phase'
          - '--metric-allowlist=kube_pod_container_status_running'
          - '--metric-allowlist=kube_pod_container_status_waiting'
          - '--metric-allowlist=kube_pod_container_status_terminated'
          - '--metric-allowlist=kube_pod_ips'
          - '--metric-allowlist=kube_pod_status_reason'
          - '--metric-allowlist=kube_pod_spec_volumes_persistentvolumeclaims_info'
          - '--metric-allowlist=kube_pod_container_status_last_terminated_exitcode'
          - '--metric-allowlist=kube_pod_container_resource_requests'
          - '--metric-allowlist=kube_pod_container_resource_limits'
          - '--metric-allowlist=kube_pod_container_status_restarts_total'
          - '--metric-allowlist=kube_pod_container_status_terminated_reason'
          - '--metric-allowlist=kube_pod_container_status_terminated_signal'
          - '--metric-allowlist=kube_node_status_condition'
          - '--metric-allowlist=kube_node_info'
        prometheusScrape: false
        selfMonitor:
          enabled: true
        collectors:
          - pods
          - nodes
        vmServiceScrape:
          spec:
            endpoints:
              - honorLabels: true
                metricRelabelConfigs:
                  - action: labeldrop
                    regex: (uid|container_id|image_id)
                port: http
              - honorLabels: true
                metricRelabelConfigs:
                  - action: labeldrop
                    regex: (uid|container_id|image_id)
                port: metrics
            jobLabel: app.kubernetes.io/name
      kubeControllerManager:
        enabled: false
      kubeEtcd:
        enabled: false
      kubeProxy:
        enabled: false
        vmScrape:
          spec:
            endpoints:
              - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
                port: http-metrics
                scheme: http
            jobLabel: jobLabel
            namespaceSelector:
              matchNames:
                - kube-system
      kubeScheduler:
        enabled: false
      kubelet:
        enabled: true
        vmScrapes:
          kubelet:
            enabled: true
            spec:
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              honorLabels: true
              honorTimestamps: false
              interval: 30s
              metricRelabelConfigs:
              - action: labeldrop
                regex: (uid)
              - action: labeldrop
                regex: (id|name)
                source_labels:
                - __name__
              relabelConfigs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(kubernetes_io_arch|node_kubernetes_io_instance_type)
                replacement: ${1}
              - sourceLabels:
                - __meta_kubernetes_node_name
                targetLabel: instance
              - replacement: kubelet
                targetLabel: job
              scheme: https
              scrapeTimeout: 5s
              selector: {}
              tlsConfig:
                caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                insecureSkipVerify: true
          cadvisor:
            enabled: true
            spec:
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              honorLabels: true
              honorTimestamps: false
              interval: 30s
              metricRelabelConfigs:
              - action: labeldrop
                regex: (uid)
              - action: labeldrop
                regex: (id|name)
              - action: drop
                regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
                source_labels:
                - __name__
              path: /metrics/cadvisor
              relabelConfigs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(kubernetes_io_arch|node_kubernetes_io_instance_type)
                replacement: ${1}
              - sourceLabels:
                - __meta_kubernetes_node_name
                targetLabel: instance
              - sourceLabels:
                - __metrics_path__
                targetLabel: metrics_path
              - replacement: kubelet
                targetLabel: job
          probes:
            enabled: true
            spec:
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              honorLabels: true
              honorTimestamps: false
              interval: 30s
              metricRelabelConfigs:
              - action: labeldrop
                regex: (uid)
              - action: labeldrop
                regex: (id|name)
              - action: drop
                regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
                source_labels:
                - __name__
              path: /metrics/probes
              relabelConfigs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(kubernetes_io_arch|node_kubernetes_io_instance_type)
                replacement: ${1}
              - sourceLabels:
                - __meta_kubernetes_node_name
                targetLabel: instance
              - sourceLabels:
                - __metrics_path__
                targetLabel: metrics_path
              - replacement: kubelet
                targetLabel: job
              scheme: https
              scrapeTimeout: 5s
              selector: {}
              tlsConfig:
                caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                insecureSkipVerify: true
          resources:
            enabled: true
            spec:
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              honorLabels: true
              honorTimestamps: false
              interval: 30s
              metricRelabelConfigs:
              - action: labeldrop
                regex: (uid)
              - action: labeldrop
                regex: (id|name)
              - action: drop
                regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
                source_labels:
                - __name__
              path: /metrics/resource
              relabelConfigs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(kubernetes_io_arch|node_kubernetes_io_instance_type)
                replacement: ${1}
              - sourceLabels:
                - __meta_kubernetes_node_name
                targetLabel: instance
              - sourceLabels:
                - __metrics_path__
                targetLabel: metrics_path
              - replacement: kubelet
                targetLabel: job
              scheme: https
              scrapeTimeout: 5s
              selector: {}
              tlsConfig:
                caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                insecureSkipVerify: true
      coreDns:
        enabled: false
      prometheus-node-exporter:
        enabled: true
        extraArgs:
          - '--collector.ethtool.device-exclude=ibp.*'
          - '--no-collector.infiniband'
      victoria-metrics-operator:
        admissionWebhooks:
          enable: true
        crd:
          cleanup:
            enabled: false
          create: false
        operator:
          disable_prometheus_converter: false
          enable_converter_ownership: true
      vmagent:
        spec:
          {{- $hasPublicEndpoint := .Values.observability.publicEndpointEnabled }}
          {{- $hasVmagentSpec := .Values.observability.vmStack.values.vmagent.spec }}

          {{- $hasExternalLabels := and $hasVmagentSpec $hasVmagentSpec.externalLabels }}
          {{- if and $hasExternalLabels (gt (len $hasExternalLabels) 0) }}
          externalLabels:
            {{- toYaml $hasExternalLabels | nindent 12 }}
          {{- end }}

          remoteWriteSettings:
          {{- $hasRemoteWriteSettings := and $hasVmagentSpec $hasVmagentSpec.remoteWriteSettings }}
          {{- $remoteWriteSettingsNotEmpty := and $hasRemoteWriteSettings (gt (len $hasVmagentSpec.remoteWriteSettings) 0) }}
          {{- if $hasPublicEndpoint }}
            label:
              cluster: "%{CLUSTER_NAME}"
              container_id: {{ .Values.observability.metricsProjectId  }}
              {{- if and $hasExternalLabels (gt (len $hasExternalLabels) 0) }}
              {{- toYaml $hasExternalLabels | nindent 14 }}
              {{- end }}
          {{- if and $hasVmagentSpec $hasVmagentSpec.remoteWriteSettings }}
          {{- toYaml $hasVmagentSpec.remoteWriteSettings | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.remoteWriteSettings | nindent 12 }}
          {{- end }}

          remoteWrite:
          {{- $hasRemoteWrite := and $hasVmagentSpec $hasVmagentSpec.remoteWrite }}
          {{- $remoteWriteNotEmpty := and $hasRemoteWrite (gt (len $hasVmagentSpec.remoteWrite) 0) }}
          {{- if $hasPublicEndpoint }}
            - url: https://write.monitoring.{{ .Values.observability.region }}.nebius.cloud/projects/{{ .Values.observability.metricsProjectId }}/buckets/soperator/prometheus
              inlineUrlRelabelConfig:
                - action: labeldrop
                  regex: feature_node_kubernetes_io_.*|kubernetes_io_.*|nvidia_com_gpu.*
                - action: labeldrop
                  regex: UUID|DCGM_FI_PROCESS_NAME|pci_bus_id|prometheus|DCGM_FI_DEV_SERIAL|DCGM_FI_DEV_NAME|job
          {{- if $remoteWriteNotEmpty }}
          {{- toYaml $hasVmagentSpec.remoteWrite | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.remoteWrite | nindent 12 }}
          {{- end }}

          volumeMounts:
          {{- $hasVolumeMounts := and $hasVmagentSpec $hasVmagentSpec.volumeMounts }}
          {{- $volumeMountsNotEmpty := and $hasVolumeMounts (gt (len $hasVmagentSpec.volumeMounts) 0) }}
          {{- if $hasPublicEndpoint }}
            - name: cloud-metadata
              mountPath: /mnt/cloud-metadata
              readOnly: true
          {{- if $volumeMountsNotEmpty }}
          {{- toYaml $hasVmagentSpec.volumeMounts | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.volumeMounts | nindent 12 }}
          {{- end }}

          volumes:
          {{- $hasVolumes := and $hasVmagentSpec $hasVmagentSpec.volumes }}
          {{- $volumesNotEmpty := and $hasVolumes (gt (len $hasVmagentSpec.volumes) 0) }}
          {{- if $hasPublicEndpoint }}
            - name: cloud-metadata
              hostPath:
                path: /mnt/cloud-metadata
                type: Directory
          {{- if $volumesNotEmpty }}
          {{- toYaml $hasVmagentSpec.volumes | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.volumes | nindent 12 }}
          {{- end }}

          extraArgs:
          {{- $hasExtraArgs := and $hasVmagentSpec $hasVmagentSpec.extraArgs }}
          {{- $extraArgsNotEmpty := and $hasExtraArgs (gt (len $hasVmagentSpec.extraArgs) 0) }}
          {{- if $hasPublicEndpoint }}
            remoteWrite.flushInterval: 2s
            remoteWrite.bearerTokenFile: /mnt/cloud-metadata/tsa-token
            remoteWrite.maxRowsPerBlock: "12000"
          {{- if $extraArgsNotEmpty }}
          {{- toYaml $hasVmagentSpec.extraArgs | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.extraArgs | nindent 12 }}
          {{- end }}

          extraEnvs:
          {{- $hasExtraEnv := and $hasVmagentSpec $hasVmagentSpec.extraEnvs }}
          {{- $extraEnvNotEmpty := and $hasExtraEnv (gt (len $hasVmagentSpec.extraEnvs) 0) }}
          {{- if $hasPublicEndpoint }}
            - name: CLUSTER_NAME
              value: {{ .Values.observability.clusterName | quote }}
          {{- if $extraEnvNotEmpty }}
          {{- toYaml $hasVmagentSpec.extraEnvs | nindent 12 }}
          {{- end }}
          {{- else}}
          {{- toYaml $hasVmagentSpec.extraEnvs | nindent 12 }}
          {{- end }}

          resources:
            {{- toYaml $hasVmagentSpec.resources | nindent 12 }}

      vmalert:
        enabled: false
      vmsingle: {{ toYaml .Values.observability.vmStack.values.vmsingle | nindent 8 }}
  {{- end }}
  valuesFrom:
  - kind: ConfigMap
    name: terraform-victoria-metrics-operator
    optional: true
    valuesKey: values.yaml
  - kind: ConfigMap
    name: victoria-metrics-operator
    optional: true
    valuesKey: values.yaml
{{- end }}
