name: Ansible Lint

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - "docs/**"
      - "CODEOWNERS"
      - "LICENSE"
      - "PROJECT"
      - "README.md"
      - "SECURITY.md"
      - "pkg/valuesgen/**"
      - "Makefile"

jobs:
  lint:
    name: Lint Ansible Playbooks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install -r ansible/requirements.txt

      - name: Run ansible-lint
        run: |
          ansible-lint ansible
