name: Build All in one job

on:
  workflow_call:
    inputs:
      unstable:
        description: "Build unstable version"
        type: string
        required: false
        default: "true"

  push:
    branches:
      - main
      - soperator-release-*
    tags:
      - "**" # Trigger on any tag
    paths-ignore:
      - "docs/**"
      - "CODEOWNERS"
      - "LICENSE"
      - "PROJECT"
      - "README.md"
      - "SECURITY.md"

  # pull_request are defined separately to allow to run CI from forks.
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - "docs/**"
      - "CODEOWNERS"
      - "LICENSE"
      - "PROJECT"
      - "README.md"
      - "SECURITY.md"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  pre-build:
    runs-on:
      - self-hosted
      - build

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # Fetch git history for the VERSION file changes detection

      - name: Install GO
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Generate version file
        run: |
          UNSTABLE="${{ inputs.unstable || 'true' }}"
          echo "Building with unstable=${UNSTABLE}"

          make get-version UNSTABLE=${UNSTABLE} >> version.txt
          echo "${UNSTABLE}" >> version.txt

      - name: Run make sync-version-from-scratch
        run: |
          make kustomize helmify yq
          make sync-version-from-scratch UNSTABLE=false

      - name: Check for uncommitted changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "âŒ Uncommitted changes detected after make sync-version-from-scratch"
            git status --porcelain
            git diff
            exit 1
          fi

      - name: Upload version file
        uses: actions/upload-artifact@v5
        with:
          name: version
          path: version.txt

      - name: Download version artifact
        uses: actions/download-artifact@v6
        with:
          name: version
          path: ./version

      - name: Read version and unstable
        id: read-version
        run: |
          VERSION=$(sed -n '1p' ./version/version.txt)
          UNSTABLE=$(sed -n '2p' ./version/version.txt)
          echo "Version: $VERSION"
          echo "Unstable: $UNSTABLE"

  lint:
    runs-on:
      - self-hosted
      - build

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install GO
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          cache: false

      # These steps are not a matrix to avoid allocating 3 jobs on runners for something this small
      - name: golangci-lint on linux/amd64
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7
        with:
          version: v2.5.0 # version of golangci-lint, should be in sync with Makefile.
        env:
          GOARCH: amd64
          GOOS: linux
      - name: golangci-lint on linux/arm64
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7
        with:
          version: v2.5.0 # version of golangci-lint, should be in sync with Makefile.
        env:
          GOARCH: arm64
          GOOS: linux
      - name: golangci-lint on darwin/arm64
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7
        with:
          version: v2.5.0 # version of golangci-lint, should be in sync with Makefile.
        env:
          GOARCH: arm64
          GOOS: darwin

  build-docker-images:
    runs-on:
      - self-hosted
      - X64
      - build
    needs: pre-build
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install GO
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Download version artifact
        uses: actions/download-artifact@v6
        with:
          name: version
          path: ./version

      - name: Read version and unstable
        id: read-version
        run: |
          VERSION=$(sed -n '1p' ./version/version.txt)
          UNSTABLE=$(sed -n '2p' ./version/version.txt)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "unstable=$UNSTABLE" >> "$GITHUB_OUTPUT"
          echo "Version: $VERSION"
          echo "Unstable: $UNSTABLE"

      - name: Log in to the Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images
        run: |
          UNSTABLE=${{ steps.read-version.outputs.unstable }}
          IMAGE_VERSION="$(make get-image-version UNSTABLE=${UNSTABLE})"
          VERSION=$(make get-version UNSTABLE=${UNSTABLE})
          OPERATOR_IMAGE_TAG=$(make get-operator-tag-version UNSTABLE=${UNSTABLE})
          DOCKER_BUILD_ARGS="--cache-from=type=local,src=/mnt/shared-fs/docker/ --cache-to=type=local,dest=/mnt/shared-fs/docker/,mode=max"
          NFS_VERSION=$(make get-nfs-version UNSTABLE=${UNSTABLE})

          make sync-version UNSTABLE=${UNSTABLE}

          echo "Updating CRDs & auto-generated code (included in test step) & run tests"
          make test-coverage UNSTABLE="${UNSTABLE}"

          echo "Building local go base image"
          make docker-build-go-base

          echo "Building and pushing image of the soperatorchecks ${OPERATOR_IMAGE_TAG}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=soperatorchecks DOCKERFILE=soperatorchecks/soperatorchecks.dockerfile IMAGE_VERSION="${OPERATOR_IMAGE_TAG}"

          echo "Building and pushing image of the sconfigcontroller ${OPERATOR_IMAGE_TAG}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=sconfigcontroller DOCKERFILE=sconfigcontroller/sconfigcontroller.dockerfile IMAGE_VERSION="${OPERATOR_IMAGE_TAG}"

          echo "Building and pushing image of the soperator ${OPERATOR_IMAGE_TAG}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=slurm-operator DOCKERFILE=soperator/Dockerfile IMAGE_VERSION="${OPERATOR_IMAGE_TAG}"

          echo "Building and pushing image of the rebooter ${OPERATOR_IMAGE_TAG}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=rebooter DOCKERFILE=rebooter/rebooter.dockerfile IMAGE_VERSION="${OPERATOR_IMAGE_TAG}"

          echo "Building and pushing image of the munge ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=munge DOCKERFILE=munge/munge.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the controller_slurmctld ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=controller_slurmctld DOCKERFILE=controller/slurmctld.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the controller_slurmdbd ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=controller_slurmdbd DOCKERFILE=accounting/slurmdbd.dockerfile IMAGE_VERSION=${IMAGE_VERSION}
          
          echo "Building and pushing image of the slurmrestd ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=slurmrestd DOCKERFILE=restd/slurmrestd.dockerfile IMAGE_VERSION=${IMAGE_VERSION}
          
          echo "Building and pushing image of the soperator-exporter ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=soperator-exporter DOCKERFILE=soperator-exporter/soperator-exporter.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the slurm_check_job ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=slurm_check_job DOCKERFILE=slurm_check_job/slurm_check_job.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the k8s_check_job ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=k8s_check_job DOCKERFILE=k8s_check_job/k8s_check_job.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the login_sshd ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=login_sshd DOCKERFILE=login/sshd.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the worker_slurmd ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=worker_slurmd DOCKERFILE=worker/slurmd.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the nfs-server ${NFS_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=nfs-server DOCKERFILE=nfs-server/nfs.dockerfile IMAGE_VERSION=${NFS_VERSION}

          echo "Removing previous jail rootfs tar archive"
          rm -f images/jail_rootfs*.tar

          echo "Building tarball for jail"
          make docker-build-jail UNSTABLE="${UNSTABLE}" IMAGE_VERSION=${IMAGE_VERSION}

          echo "Building and pushing image of the populate_jail ${IMAGE_VERSION}"
          make docker-build-and-push DOCKER_BUILD_ARGS="${DOCKER_BUILD_ARGS}" UNSTABLE="${UNSTABLE}" IMAGE_NAME=populate_jail DOCKERFILE=populate_jail/populate_jail.dockerfile IMAGE_VERSION=${IMAGE_VERSION}

          echo "Removing jail rootfs tar archive to speedup further docker builds."
          rm -f images/jail_rootfs*.tar

  build-helm-charts:
    runs-on:
      - self-hosted
      - X64
      - build
    needs: pre-build
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install GO
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Download version artifact
        uses: actions/download-artifact@v6
        with:
          name: version
          path: ./version

      - name: Read version and unstable
        id: read-version
        run: |
          VERSION=$(sed -n '1p' ./version/version.txt)
          UNSTABLE=$(sed -n '2p' ./version/version.txt)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "unstable=$UNSTABLE" >> "$GITHUB_OUTPUT"
          echo "Version: $VERSION"
          echo "Unstable: $UNSTABLE"

      - name: Run Helm Tests
        run: make helmtest

      - name: Push Helm charts
        run: |
          UNSTABLE=${{ steps.read-version.outputs.unstable }}

          make sync-version UNSTABLE=${UNSTABLE}

          make release-helm UNSTABLE="${UNSTABLE}"
